{
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "endOfLine": "lf",
  "charset": "utf-8",
  "finalendOfLine": "lf",
  "eslintIntegration": true
}
