ion-tabs {
  --background: var(--ion-color-primary);
}

ion-tab-bar.ios {
  justify-content: center;
  width: 100%;
  margin: auto;
  --background: var(--ion-color-primary);
}

ion-tab-bar.md {
  justify-content: center;
  position: relative;
  width: 100%;
  margin: auto;
  --background: var(--ion-color-primary);
}

ion-tab-button {
  --color: var(--ion-color-tertiary);
  --color-selected: var(--ion-color-white);

  // Select Item
  &::before {
    background-color: transparent;
    display: block;
    content: '';
    margin: 0 auto;
    width: 35px;
    height: 3px;
  }

  &.tab-selected::before {
    background-color: var(--ion-color-white);
  }
}