.about-page {
  ion-content {
    --background: var(--ion-color-white);
  }

  ion-header {
    ion-toolbar {
      --background: var(--ion-color-primary);
      --color: var(--ion-color-white);
    }
  }

  .buymeacoffee {
    height: 41px !important;
    width: 174px !important;
    box-shadow: 0px 3px 2px 0px rgba(190, 190, 190, 0.5) !important;
    -webkit-box-shadow: 0px 3px 2px 0px rgba(190, 190, 190, 0.5) !important;
  }
}