.ui-components-page {
  ion-content {
    --background: var(--ion-color-white);
  }

  ion-header {
    ion-toolbar {
      --background: var(--ion-color-primary);
      --color: var(--ion-color-white);
    }
  }
}